<form (ngSubmit)="onSubmit()">
    <label for="ship-edit-id">ID del Barco:</label>
    <input type="number" name="shipId" #shipId="ngModel" id="ship-edit-id" [(ngModel)]="ship().id" required readonly>
    @if(shipId.invalid && shipId.touched) {
    <p class="Error">Ship ID is required.</p>
    }

    <label for="ship-edit-name">Nombre del Barco:</label>
    <input type="text" name="shipName" #shipName="ngModel" id="ship-edit-name" [(ngModel)]="ship().name" required>
    @if(shipName.invalid && shipName.touched) {
    <p class="Error">Ship Name is required.</p>
    }

    <label for="ship-edit-model">Nombre del Modelo:</label>
    <input type="text" name="shipModel" #shipModel="ngModel" id="ship-edit-model" [(ngModel)]="shipModel_" required>
    @if(shipModel.invalid && shipModel.touched) {
    <p class="Error">Ship Model is required.</p>
    }

    <label for="ship-edit-color">Color del Modelo:</label>
    <input type="text" name="shipColor" #shipColor="ngModel" id="ship-edit-color" [(ngModel)]="shipColor_" required>
    @if(shipColor.invalid && shipColor.touched) {
    <p class="Error">Ship Color is required.</p>
    }

    <label for="ship-edit-owner">ID del Dueño:</label>
    <input type="text" name="shipOwner" #shipOwner="ngModel" id="ship-edit-owner" [(ngModel)]="shipOwner_" required>
    @if(shipOwner.invalid && shipOwner.touched) {
    <p class="Error">Ship Owner is required.</p>
    }

    <button type="submit">Guardar</button>
</form>