<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit Model</title>
  <style>
    label { display:block; margin-top: 8px; }
    input { padding: 4px; }
    .actions { margin-top: 12px; }
  </style>
</head>
<body>
<h1>Editar/Crear Modelo</h1>

<form action="/model/save" method="post">
  <input type="hidden" name="id" th:value="${model.id}"/>

  <label for="name">Nombre:</label>
  <input id="name" name="name" type="text" th:value="${model.name}"/>
  <label for="color">Color:</label>
  <input id="color" name="color" type="text" th:value="${model.color}"/>


  <div class="actions">
    <button type="submit">Guardar</button>
    <a th:href="@{/model/list}">Cancelar</a>
  </div>
</form>

</body>
</html>
